#!/bin/sh

echo
echo " ********************************************************"
echo " * This environment is configured using Ansible."
echo " * To change configuration, let the admin modify the playbooks."
echo " ********************************************************"
echo
