# phpMyAdmin default Apache configuration
<VirtualHost *:80>
    ServerName devel-mysql
    ServerAlias devel-mysql*
    DocumentRoot {{ adminer_install_dir }}


<Directory {{ adminer_install_dir }}>
	Options FollowSymLinks
	DirectoryIndex {{ adminer_install_filename }}
	AllowOverride All

	<IfModule mod_php5.c>
		AddType application/x-httpd-php .php

		php_flag magic_quotes_gpc Off
		php_flag track_vars On
		php_flag register_globals Off
		php_admin_flag allow_url_fopen Off
		php_value include_path .
		php_admin_value upload_tmp_dir /var/lib/phpmyadmin/tmp
		php_admin_value open_basedir /usr/share/phpmyadmin/:/etc/phpmyadmin/:/var/lib/phpmyadmin/:/usr/share/javascript:/usr/share/php/php-gettext
	</IfModule>
{% for item in phpmyadmin_htpasswd %}
  {% if item.filename %}
      AuthType Basic
      AuthName "Restricted access"
      AuthUserFile /etc/apache2/htpasswd/{{ item.filename }}
      require valid-user
  {% endif %}
{% endfor %}

</Directory>

</VirtualHost>
