# phpMyAdmin default Apache configuration
<VirtualHost *:80>
    ServerName devel-mysql
    ServerAlias devel-mysql*
    DocumentRoot {{ adminer_install_dir }}

<Directory {{ adminer_install_dir }}>
	Options FollowSymLinks
	DirectoryIndex {{ adminer_install_filename }}
	AllowOverride All

	<IfModule mod_php5.c>
		AddType application/x-httpd-php .php
	</IfModule>
{% for item in adminer_htpasswd %}
  {% if item.filename %}
      AuthType Basic
      AuthName "Restricted access"
      AuthUserFile /etc/apache2/htpasswd/{{ item.filename }}
      require valid-user
  {% endif %}
{% endfor %}

</Directory>

</VirtualHost>
